.collection-item {
  width: 22%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

  .collection-item__image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    position: relative;

    button {
      position: absolute;
      bottom: 30px;
      left: 10%;
      width: 80%;
      padding: 10px 15px;
      text-decoration: none;
      text-align: center;
      color: #000;
      background: #ffffffc7;
      font-weight: 700;
      font-size: 16px;
      border: none;
      &:hover {
        color: #ffffff;
        background: #0000005d;
      }
      &:focus {
        color: #ffffff;
        background: #0000005d;
      }
    }
  }

  .collection-item__footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;

    .collection-item__name {
      width: 90%;
      margin-bottom: 15px;
    }

    .collection-item__price {
      text-align: left;
    }
  }
}
